body {
  font-family: montserrat, sans-serif;
  font-size: 13px;
}

.product-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.title {
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  margin: 0;
  text-align: center;
  color: #515076;
  padding: 0;
  margin: 0;
}

.discription,
.compound {
  color: #515076;
  font-size: 13px;
  line-height: 18px;
  padding: 0;
  margin: 0;
}

.one {
  font-size: 12px;
  color: #A5A3B9;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 0;
}


.color2 {
  color: #515076;
  font-size: 13px;
}

.card-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  color: #515076;
}

.fontcolor {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #515076;
}